html, body, #root {
  height: 100%;
  margin: 0;
}

.header {
  position: fixed;
  top: 0; left: 0; width: 100%;
  height: 60px;
  background: #9E74CF;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .logo img {
  height: 110px; /* adjust logo size as needed */
}

.hamburger .logout {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
  width: 300px;
  background: #F2EEFC;
  color: white;
  padding: 20px;
  height: 100%;
  transition: width 0.3s ease, padding 0.3s ease;
  /* default: static for desktop, so map gets pushed */
  position: static;
}


.sidebar.closed {
  width: 0;
  padding: 0; 
  overflow: hidden; /* ensure content doesn't overflow */
}

.app-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px; /* same as header height */
  height: calc(100vh - 60px) !important;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .leaflet-control-zoom {
    display: none !important;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 999;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .sidebar.closed {
    transform: translateX(-100%);
    width: 100%;  /* keep width so transform works */
    padding: 20px;  /* keep padding on mobile for content */
  }
}

.map {
  flex: 1;
  height: 100%;
  position: relative;
}

.map > .leaflet-container {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}